
 <h1>Calculator</h1>
 <p>Num1: <input type="number" [(ngModel)]="firstnum1"></p>
 <p>Num2: <input type="number" [(ngModel)]="firstnum2"></p>
 <p>ANS :{{add}}</p>
 <li><button (click)="one()">1</button></li>
 <li><button (click)="two()">2</button></li>
 <ul><button (click)="added()">ADD</button></ul>
 <!-- <p>ANS :{{sub}}</p> -->
 <ul><button (click)="sub1()">Sub</button></ul>
 <!-- <p>ANS :{{div}}</p> -->
 <ul><button (click)="div1()">Div</button></ul>
 <!-- <p>ANS :{{mul}}</p> -->
<ul><button (click)="mul1()">mul</button></ul>

<br>
 <p>Num2: <input type="radio" [checked]="ss" (click)="mul2()" ></p>
 <p>ANS :{{str1}}</p>

 