<div class="card-group">
  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW2Pm9jJWrcfjs1JXPqX4c2Q9aOHSaV3HcQw&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title"><a routerLink="/price">Banana</a></h1>
      <h2 class="card-text">1kg=Rs:50</h2>
   
    </div>
  </div>
  <div class="card">
    <img src="https://assets.telegraphindia.com/telegraph/23c25de6-9b7f-40c9-b435-2942584ec731.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title"><a routerLink="/coconut">Coconut</a></h1>
      <h2 class="card-text">1kg=Rs:40</h2>
    </div>
  </div>
  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc1lmoB8HojEvwdKC9SVVd_IG6QFK7a0-C0A&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title"><a routerLink="/price">Elaneer</a></h1>
      <h2 class="card-text">1=Rs:80</h2>
    </div>
  </div>
  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0Nu7qNneeLVvz2PU6ykQi-7f_2dsuIJ-lyA&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title"><a routerLink="/price">Tapioca</a></h1>
      <h2 class="card-text">1kg=Rs:20</h2>
    </div>
  </div>
</div>