<!-- <div class="hp">
<mat-card class="hp1">
    
    <div class="overview-boxes">Activity</div>
<p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Type your massage here....."><button>submit</button>
    </mat-form-field> 
  </p> 
</mat-card><br>
<mat-card class="hp2">
  <div class="com">command</div>
  <p> 
    <mat-form-field appearance="standard">
      <input matInput placeholder="commands....."><button>save</button>
    </mat-form-field>
  </p>
</mat-card><br>
  <mat-card class="hp3">
    <mat-form-field appearance="fill">
      <input matInput placeholder="       --------None--------">
    </mat-form-field>
</mat-card>
</div> -->
