 <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>krishnan</td>
        <td>J</td>
        <td>hr project</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>soorya</td>
        <td>K</td>
        <td>meterial project</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>manoj</td>
        <td>R</td>
        <td>mobile app project</td>
      </tr>

</tbody>
</table> 


 
